
#scoreBox {
    display: block;
    height: 100px;
    background-color: rgb(56, 175, 230);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

#targetBox {
    display: block;
    height: 100px;
    margin-left: 10px;
    background-color: rgb(111, 111, 241);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

.imageBox {
    width: 100%;
    height: auto;
}

#name {
    text-align: center;
    color: cornflowerblue;
    font-size: 40px;
    font-weight: bolder;
}

#startB {
    align-items: center
}

